.navbar{
    background-color: cadetblue;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left:20px;
    margin:-8px;
    height:100px;
    font-family: verdana;
    
}
.nav-pages{
    display: flex;
    gap:50px;
    padding-right:20px;

}
.navbar a{
    text-decoration: none;
    /* text-decoration: underline; */
}
.loginBtn{
    color:rgb(87, 35, 151)
}
.welcome{
    /* background-color: beige; */
    width:300px;
    display:flex;
    margin:auto;
    font-style:italic;
    margin-left: 380px;
    align-items: center;
}

.welcome-user{
    color:green;
    align-items: center;
    font-family: verdana;
    font-size: 20px;
    margin:auto;
    
}